
$border-pruple: #968DED;
$background-pruple-light : #9D63FF;
$background-pruple-dark : #7152A5;
$background-hover-pruple: #894DEE;
$background-shadow-pruple: #c568ef99;
$color-purple : #c568ef;
$color-purple-hover : #b436ee;
@import "custom";
@import "footer";
@import "home";
@import "produits";
@import "show_produit";
@import "navbar";
@import "connexion";
@import "~bootstrap/scss/bootstrap";

@import url(//db.onlinewebfonts.com/c/69e1a553f38676b3c502b385ee1e86e9?family=SneakersMedium);
@font-face {
    font-family: "SneakersMedium"; 
    src: url("//db.onlinewebfonts.com/t/69e1a553f38676b3c502b385ee1e86e9.eot"); 
    src: url("//db.onlinewebfonts.com/t/69e1a553f38676b3c502b385ee1e86e9.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/69e1a553f38676b3c502b385ee1e86e9.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/69e1a553f38676b3c502b385ee1e86e9.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/69e1a553f38676b3c502b385ee1e86e9.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/69e1a553f38676b3c502b385ee1e86e9.svg#SneakersMedium") format("svg"); }
