body
{
    .connexion, .inscription{
        .card-connexion , .card-inscription
        {
            //background-color: rgb(21, 255, 0) !important;
            padding: 3.5em;
            width: 50%;
            border-color: $border-pruple;
            h2{
                text-align: center;
            }
            form{
                input:focus
                {
                    border-color: $border-pruple;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $background-shadow-pruple;
                }
                .btn, .btn:focus
                {
                    color: white;
                    background-color :$background-pruple-light;
                    border-color: $border-pruple;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $background-shadow-pruple;

                }
                .btn:hover
                {
                    background-color :$background-hover-pruple;
                    border-color: $border-pruple;

                }
            }
            .alert{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}
