footer{
    .container{
        .reseaux{
            div{
                margin-top: 15px;
                display: flex;
                justify-content: center;
                a{
                    text-decoration: none;
                    color : white;
                    width: 80px;
                    height: 80px;
                    background-color: #fff;
                    text-align: center;
                    line-height: 75px;
                    font-size: 35px;
                    margin: 0 10px;
                    display: block;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 3px solid #fff;
                    transition: .5s;
                    div{
                        color: #262626;
                        padding: 0;
                        margin: 0;
                        transition: .5s;
                    }
                }
                a:hover:nth-child(1){
                    background: #15b7f7;
                }
                a:hover:nth-child(2){
                    background: #dd4b39;
                }
                a:hover:nth-child(3){
                    background: linear-gradient(#4f67b3, #82008F, #F6BA00);
                }
                a:hover:nth-child(4){
                    background: #3b5999;
                }
                a:hover{
                    //transform: rotateY(360deg);
                    div{  
                        transform: rotateY(360deg);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
        .news-letter{
            margin-top: 25px;
            form{
                button:after {
                    content: '  ➞';
                    position: absolute;
                    opacity: 0;  
                    top: 5px;
                    right: -15px;
                    transition: 0.2s;
                    color: #262626;
                }
                button{
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.1s;
                    color: white;
                }
                button:hover{
                    padding-right: 35px;
                    padding-left:8px;
                    color: #262626;
                    background-color: rgb(255, 255, 255);
                }
                button:hover:after {
                    opacity: 1;
                    right: 10px;
                }
            }
        }
    }
}