footer{
    .container{
        .reseaux{
            div{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                a{
                    text-decoration: none;
                    color : white;
                    width: 80px;
                    height: 80px;
                    background-color: #fff;
                    text-align: center;
                    line-height: 75px;
                    font-size: 35px;
                    margin: 0 10px;
                    display: block;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 3px solid #fff;
                    i{
                        position: relative;
                        color: #262626;
                        z-index: 3;
                        padding: 0;
                        margin: 0;
                    }
                }
                a:hover:nth-child(1){
                    background: #15b7f7;
                }
                a:hover:nth-child(2){
                    background: #dd4b39;
                }
                a:hover:nth-child(3){
                    background: linear-gradient(#4f67b3, #82008F, #F6BA00);
                }
                a:hover:nth-child(4){
                    background: #3b5999;
                }
                a:hover{
                    i{
                        transform: rotateY(360deg);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}