<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Links -->
        <!-- Section: Form -->
        <section class="news-letter">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>
                                ABONNE-TOI
                            </strong>
                            <br>
                            <span> pour ne rien manquer </span>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control"  placeholder="Email"/>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Envoyer         
                        </button>
                    </div>
                <!--Grid column-->
                </div>
            <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
        <!-- Section: Text -->
        {#<section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                        eum harum corrupti dicta, aliquam sequi voluptate quas.
                      
            </p>
        </section>#}
        <!-- Section: Text -->

       
    <!-- Section: Social media -->
    <section class="reseaux mb-4">
        <h4> Suis-nous sur les réseaux !</h4>
        {#<p class="sous-titre">Pour ne rien manquer</p>#}
        <div>
            <a href="#!" >
                <div><i class="bi bi-twitter"></i></div>
            </a>

            <a href="#!">
                <div><i class="bi bi-google"></i></div>
            </a>

            <a href="#!">
                <div><i class="bi bi-instagram"></i></div>
            </a>

            <a href="#!">
                <div><i class="bi bi-facebook"></i></div>
            </a>
        </div>
    </section>
    <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
            
        <a class="text-white" href="#">
            My Stock
        </a>
    </div>
<!-- Copyright -->
</footer>
<!-- Footer -->
