
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('produit_index')}}">
        <h1>
            My Stock  
        </h1>
    </a>
    <form class="d-flex form-search">
      <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"> 
            <i class="bi bi-cart-fill"><span class="number-article position-absolute translate-middle badge rounded-pill bg-danger">99+</span></i>Panier 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}"> <i class="bi bi-person-fill" ></i>Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>