{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container-fluid inscription">
    <div class="card card-inscription position-absolute top-50 start-50 translate-middle shadow-lg p-5 mb-8 rounded">
        <h2>Inscrivez-vous</h2>

        {{ include('user/_form.html.twig') }}
        <p> Vous avez déja un compte <a href="{{ path('app_login') }}"> connectez-vous </a> </p>
    </div>
</div>
{% endblock %}
